VITE_SUPABASE_URL=https://gjjgvnofemjwesjuadbe.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_DpVng-O8Q4SWDdSgLCdhNA_uCw16uf8
SUPABASE_SERVICE_ROLE_KEY=PASTE_YOUR_SECRET_KEY_HERE
BAMBOOHR_API_KEY=PASTE_YOUR_BAMBOOHR_API_KEY_HERE
BAMBOOHR_SUBDOMAIN=spectrahm
RESEND_API_KEY=PASTE_YOUR_RESEND_API_KEY_HERE
